@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply font-poppins bg-gray-50; 

}
ul li {
 @apply font-semibold text-[1rem] cursor-pointer hover:-translate-y-1 duration-300;
}
.bg{ 
  background-image: url("./assets/hero1.png");
  background-repeat: no-repeat;

  background-size: contain ;
}
.bg {
  @apply md:bg-right-top max-lg:bg-none ;
}
.bg-2{
  background-image: url("./assets/book-bg.png");
  background-repeat: no-repeat;

  background-size: cover ;
}
.car-btns button{
  @apply border py-3 px-6 hover:bg-orange-500 hover:text-white rounded-sm duration-300;
}
.active-btn {
  @apply bg-orange-500 text-white;
}

.bg-3{
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover ;
}
.bg-4{
  background-image: url("./assets/car2_2.png");
  background-repeat: no-repeat;


}
.bg-4{
  @apply bg-left;
}

.open {
  @apply h-[200px]  duration-700 
}
.close {
  @apply h-0 p-0 duration-700 z-[-1] opacity-0;
}